  .wrapper {
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

  div.header {
    width: 23%;
}


  button[data-action="add"] {
    outline: none;
    cursor: pointer;
    width: 80%;
    color: white;
    border: 2px solid rgb(201, 142, 162);
    box-shadow: 3px 3px rgb(201, 142, 162);
    border-radius: 10px;
    padding: 10px;
    margin-left: 7%;
    font-size: 16px;
    background-color: rgb(201, 142, 162);
    opacity: 0.7;
    font-size: 1.2em;
  }
  
  .active {
    opacity: 1;
  }
  
  .active:hover {
    opacity: 1;
  }
  
  div.add-list {
    width: 95%;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
    transition: height 0.3s ease-out;
  }
  
  div.close {
    height: 0px;
  }
  
  div.open {
    height: 160px;  
    background-color: rgb(201, 142, 162);
    box-shadow: 3px 3px 3px 3px rgb(201, 142, 162);
    opacity: .7;
  }

  span.notification {
    visibility: hidden;
  }

  .visible {
    visibility: visible;
    color: red;
  }

  input[type='text'] {
    display: block;
    margin: 10px auto;
    outline: none;
    height: 18px;
    width: 70%;
    border-radius: 5px;
    text-indent: 10px; 
    border: 2px solid  rgb(206, 66, 112);
  }

  select {
    margin-top: 10px;
    outline: none;
    overflow-y: hidden;
    height: 17px;
    border: 1.5px solid  rgb(206, 66, 112);
    background-color: rgb(201, 142, 162);
  }

  option {
    border: 1px solid  rgb(206, 66, 112);
    outline: none;
    display: inline;
    padding: 0px 5px;
    cursor: pointer;
  }

  input[type='submit'], input[type='reset']  {
    margin-top: 10px;
    width: 45%;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    background-color: rgb(201, 142, 162);
    border: 2px solid rgb(206, 66, 112);
    padding: 2px;
  } 
  
  .cross {
    width: 15px;
    height: auto;
    margin-top: 5px;
    margin-left: 90%;
  }
  
  div.list-container {
    width: 77%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  div.unimportant, div.important, div.urgent {
    overflow: hidden;
    transition: height 0.3s ease-in;
    background-color: rgb(245, 240, 236);
    box-shadow: 5px 5px rgb(240, 235, 231);
    border-radius: 10px;
    width: 32%;
    flex-shrink: 1;
  }
  
  span.unimportant, span.important, span.urgent  {
    font-family: 'Akaya Telivigala', cursive;
    text-decoration: underline;
    display: block;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
  }
  
  span.unimportant, div.unimportant ul {
    color: rgb(12, 94, 12);
  }
  
  span.important, div.important ul {
    color: rgb(223, 113, 62);
  }
  
  span.urgent, div.urgent ul {
    color: rgb(223, 62, 62);
  }

 .chosen {
   opacity: .6;
 }

 .chosen:hover {
  opacity: 1;
  cursor: pointer;
}

  ul {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  li {
    font-family: 'Playfair Display', serif;
    max-height: 80px;
    display: flex;
    align-items: center;
    list-style: none; 
    overflow: hidden;
    transition: height 0.3s ease-in;
    position: relative;
  }

  
  li.clean {
    height: 0px;
  }
  
  
  li input:hover {
    cursor: pointer;
  }
  
  .delete, .edit {
    margin-left: 5px;
    width: 15px;
    height: 15px;
    opacity: .7;
    position: absolute;
  }

  .delete {
    right: 0px;
  }

  .edit {
    right: 20px;
  }

  img.delete:hover, img.edit:hover {
    cursor: pointer;
    opacity: 1;
  }

  @media (max-width: 1140px) {

    div.open {
      height: 220px;  
    }

    select {
      height: 55px;
    }

    option {
      display: block;
      text-align: center;
    }

  }

  @media (max-width: 850px) {

    .wrapper {
      display: block;
      margin:0px auto;
    }

    div.header {
      margin: 0px auto;
      width: 40%;
    }

    .list-container {
      margin: 30px auto;
      width: 100%;
    }

  }


  @media (max-width: 550px) {

    div.header {
      margin: 0px auto;
      width: 40%;
    }

    .list-container {
      flex-direction: column;
      margin: 0px auto;
    }

    div.unimportant, div.important, div.urgent {
      margin: 20px auto;
      width: 100%;
    }

  }